@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Roboto;
  height: 100%;
  background: #f0f0f0;
}

.content {
  min-height: calc(100vh - 50px);
}
