.stage {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 10px;
  min-height: calc(30vh - 3px);
}
.stage:hover > .tile {
  opacity: 1;
}
.stage .tile {
  position: relative;
  flex: 1 1 calc(10.333% - 96px);
  padding: 50px 25px;
  margin: 15px;
  background: #252422;
  cursor: pointer;
  /*box-shadow: 5px 5px 0 0 rgba(48, 48, 48, 0.25);*/
  transform-origin: 50% 100% 0;
  transition-property: transform box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.76, -0.35, 0.21, 1.45);
}
.stage .tile:hover {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: none;
}
.stage .tile > p {
  font-weight: 700;
  color: #efefef;
  text-align: center;
  text-transform: uppercase;
}

.tile:after, .tile::after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  height: calc(100% - 0.5em);
  width: calc(100% - 0.5em);
  pointer-events: none;
  opacity: 0.15;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.tile.active {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 25px #d0cbfa;
  

  /* background-image: radial-gradient(circle farthest-corner at 100% 0, #007f9a, transparent);*/
}
.tile.active:after, .tile.profiles::after {
   /*background-image: url(../../assets/project-work.png); */
  background-position: 50% 70%;
  background-size: 230px;
}

.tile.past {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 0 25px #d0cbfa;
  /*background-image: radial-gradient(circle farthest-corner at 100% 0, #007f9a, transparent);*/
}
.tile.past:after, .tile.profiles::after {
  /*background-image: url(../../assets/project-work.png);*/
  background-position: 50% 70%;
  background-size: 230px;
}
.tile.active-total {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 0 25px #d0cbfa;
  /*background-image: radial-gradient(circle farthest-corner at 100% 0, #0dc176, transparent); */
}
.tile.active-total:after, .tile.teams::after {
  background-color: #FFFFFF;
  /*background-image: url(../../assets/past-projects.png);*/
}
.tile.chart {
  background-color: #FFFFFF;
  border-radius: 15px;
  background-image: radial-gradient(circle farthest-corner at 100% 0, #FFFFFF, transparent);
  box-shadow: 0 0 25px #d0cbfa;
}
.tile.chart:after, .tile.business::after {
/*background-image: url(../../assets/chart.png);*/
  background-size: 180px;
}
.tile.accreditation {
  background-color: #b66f0c;
  border-radius: 15px;
  background-image: radial-gradient(circle farthest-corner at 100% 0, #f5ba67, transparent);

}
.tile.locations {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 25px #d0cbfa;
  /* background-image: radial-gradient(circle farthest-corner at 100% 0, #007f9a, transparent);*/
}
.tile.locations:after, .tile.profiles::after {
   /*background-image: url(../../assets/project-work.png); */
  background-position: 100% 100%;
  background-size: 500px;
}

.tile.earning {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 25px #d0cbfa;
  /* background-image: radial-gradient(circle farthest-corner at 100% 0, #007f9a, transparent);*/
}
.tile.earning:after, .tile.profiles::after {
   /*background-image: url(../../assets/project-work.png); */
  background-position: 100% 100%;
  background-size: 500px;
}
.tile.dashboard {
  background-color: #B8D8D8;
  border-radius: 15px;
  box-shadow: 0 0 25px #d0cbfa;
  /* background-image: radial-gradient(circle farthest-corner at 100% 0, #007f9a, transparent);*/
}
.tile.dashboard:after, .tile.profiles::after {
   /*background-image: url(../../assets/project-work.png); */
  background-position: 100% 100%;
  background-size: 500px;
}
.tile.orders {
  background-color: #d5e5a3;
  border-radius: 15px;
  box-shadow: 0 0 25px #d0cbfa;
  /* background-image: radial-gradient(circle farthest-corner at 100% 0, #007f9a, transparent);*/
}
.tile.orders:after, .tile.profiles::after {
   /*background-image: url(../../assets/project-work.png); */
  background-position: 100% 100%;
  background-size: 500px;
}
.tile.visitors {
  background-color: #ff8f5e;
  border-radius: 15px;
  box-shadow: 0 0 25px #d0cbfa;
  /* background-image: radial-gradient(circle farthest-corner at 100% 0, #007f9a, transparent);*/
}
.tile.visitors:after, .tile.profiles::after {
   /*background-image: url(../../assets/project-work.png); */
  background-position: 100% 100%;
  background-size: 500px;
}
.tile.subscriptions {
  background-color: #D6C1AB;
  border-radius: 15px;
  box-shadow: 0 0 25px #d0cbfa;
  /* background-image: radial-gradient(circle farthest-corner at 100% 0, #007f9a, transparent);*/
}
.tile.subscriptions:after, .tile.profiles::after {
   /*background-image: url(../../assets/project-work.png); */
  background-position: 100% 100%;
  background-size: 500px;
}

.mybutton {
  background-color: #252422;
  padding: 12px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  margin-bottom: -30px;
}

.mybutton:hover {
  color: #d6eaf8;
  background-color: #252422;
}

.mybutton2 {
  background-color: #252422;
  padding: 6px;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

.mybutton2:hover {
  color: #252422;
  background-color: #252422;
}


